---
layout: default
title_localized:
  en: Luxury Event Venue at Central Park | Events at The Pierre NY
  zh: 中央公园奢华的活动场馆 | 纽约皮埃尔举办的活动
meta_description_localized:
  en: Legendary elegance provides the perfect backdrop for weddings, business events, or private gatherings that can only come to life at The Pierre, A Taj Hotel.
  zh: Legendary elegance provides the perfect backdrop for weddings, business events, or private gatherings that can only come to life at The Pierre, A Taj Hotel.
permalink_localized:
  en: /entertainment/
  zh: /entertainment/
published_localized:
  en: true
  zh: true
meta_tags:
  robots:
---

<!-- Events Banner here -->
<section class="page-banner inner" style="background-image:url('/assets/images/events/events-banner.jpg');">
  <div class="overlay-bg"></div>
  <div class="banner-content">
    {% regionblock entertainment_heading, type:header %}
      <h1 class="variant" tabindex="0">Entertainment at the pierre</h1>
    {% endregionblock %}
    <div class="divider"><img class="w-100" src="/assets/images/seperator.png" alt="Divider between sections" tabindex="-1" /></div>
    {% regionblock entertainment_subheading, type:header %}
      <h6 tabindex="0">AT THE TWO E BAR & LOUNGE</h6>
    {% endregionblock %}
  </div>
</section>

<!-- Events Listing here -->
<section class="events-wrapper">
{% assign event_categories = site.data._models.events | sort: "sort_order" %}
{% for item in event_categories %}
  <div class="events-listing">
      <!-- Category section -->
      <div class="event-category-intro" id="{{ item.category_id }}" style="background-image:url('{{ item.category_image.url }}');">
        <div class="overlay-bg reverse"></div>
        <div class="intro-text">
          <h2 tabindex="0">{{ item.title }}</h2>
          <p tabindex="0">{{ item.category_intro }}</p>
        </div>
      </div>
      <!-- Event Details Accordion -->
      <div class="event-details accordion">
        {% for event in item.event_listing %}
          <!-- Event -->
          <div class="card" tabindex="0">
            <div class="card-header collapsed" id="{{ event.event_id }}heading" data-toggle="collapse" data-target="#{{ event.event_id }}collapse" aria-expanded="true" >
              <!-- Event Schedule -->
              <div class="schedule" tabindex="0">
                <span>{{ event.day }}</span>
                <h4>{% if event.time and event.time != "" %}{{ event.time }}{% else %}{{ event.date | date: "%D %B" }}{% endif %}</h4>
              </div>
              <!-- Event Title -->
              <h3 tabindex="0">{{ event.event_name }}</h3>
              <!-- Accordion Control -->
              <div class="controls">
                <i class="fa fa-minus"></i>
                <i class="fa fa-plus"></i>
              </div>
            </div>
            <div id="{{ event.event_id }}collapse" class="collapse" aria-labelledby="{{ event.event_id }}heading" data-parent="#{{ item.category_id }}">
              <div class="card-body">
                <div class="wrapper">
                  <p tabindex="0">{{ event.event_detail }}</p>
                  <div class="opentable-widget">
                    <h6 tabindex="0">{% t 'make_a_reservation' %}</h6>
                    <div class="d-xl-flex justify-content-center" tabindex="0">
                      <script async type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid={{ event.event_booking_id }}&domain=com&type=standard&theme=wide&lang=en&overlay=false&iframe=false'></script>
                      <a class="secondary-btn" href="{{ event.view_menu_url }}">{% t 'view_menus' %}</a>
                    </div>
                    <div tabindex="0">{{ event.event_contact }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
{% endfor %}
</section>
