---
layout: default
title: Historic New York Hotels | The Pierre Hotel NY
meta_description:
permalink: /history/
meta_tags:
  robots:
---

<!-- History Banner here -->
<section class="page-banner inner" style="background-image:url('/assets/images/history/hero.jpg');">
  <div class="overlay-bg"></div>
  <div class="banner-content">
    {% regionblock history_title, type:header %}
      <h1 class="variant">THE PIERRE HISTORY</h1>
    {% endregionblock %}
    <div class="divider"><img class="w-100" src="/assets/images/seperator.png" alt="Divider between sections" /></div>
    {% regionblock history_subtitle, type:header %}
      <h6>THE MAKING OF A LEGEND</h6>
    {% endregionblock %}
  </div>
</section>

<div class="quote">
  <q>
    {% regionblock history_details, type:text %}
      For over 85 years, The Pierre has set the standard for <span>timeless elegance</span> and <span>unrivaled hospitality in New York city</span>.
    {% endregionblock %}
  </q>
</div>

<!-- History section here -->
{% assign history = site.data._models.history %}
<section class="history">

  <div class="history-wrapper accordion" id="historySec">

    <ul class="history-nav" role="tablist" tabindex="0">
      {% for year in history %}
        <li id="{{ year.year_ada_id }}" role="tab">
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#{{ year.year_id }}" aria-expanded="true" aria-controls="{{ year.year_id }}">{{ year.year }}</a>
        </li>
      {% endfor %}
    </ul>

    {% for details in history %}
      <div class="history-details collapse show" id="{{ details.year_id }}" aria-labelledby="{{ details.year_ada_id }}" data-parent="#historySec">
        <div class="d-flex">
          <div class="history-images">
            <div id="historyPics" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for image in details.history %}
                  <div class="carousel-item {% if forloop.first%}active{% endif %}">
                    <img class="d-block w-100" src="{{ image.timeline_images.url }}" alt="{{ image.timeline_images.alt }}">
                  </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#historyPics" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#historyPics" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="history-content">
            <h6>{{ details.from_year_to_year }}</h6>
            <p>{{ details.year_intro }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</section>
