---
layout: default
title_localized:
  en: The Pierre Hotel New York | A Taj Hotel | Luxury NYC Hotel
  zh: The Pierre Hotel New York | A Taj Hotel | Luxury NYC Hotel
meta_description_localized:
  en: In the News The Pierre Hotel New York
  zh: In the News The Pierre Hotel New York
permalink_localized:
  en: /news/
  zh: /news/
published_localized:
  en: true
  zh: false
meta_tags:
  robots:
---

<!-- News Banner here -->
<div class="page-banner inner" style="background-image:url('/assets/images/news/press_banner_image.jpg');">
  <div class="overlay-bg"></div>
  <div class="banner-content">
    {% regionblock news_title, type:header %}
      <h1 class="variant" tabindex="0">IN THE NEWS</h1>
    {% endregionblock %}
    <div class="divider"><img class="w-100" src="/assets/images/seperator.png" alt="Divider between sections" tabindex="-1" /></div>
    {% regionblock news_subtitle, type:header %}
      <h6 tabindex="0">A NEW YORK ICON, THE PIERRE IS CONTINUALLY RECOGNIZED IN THE MEDIA FOR ITS AWARD-WINNING FIVE-STAR SERVICE, ELEGANT ACCOMMODATIONS AND FINE DINING.</h6>
    {% endregionblock %}
  </div>
</div>

<div class="quote" tabindex="0">
  <q>
    {% regionblock news_inro, type:text %}
      Discover more about The Pierre in coverage from prestigious magazines such as <span>VOGUE, The New York Times and Forbes</span> highlighting interesting features at the hotel.
    {% endregionblock %}
  </q>
</div>

<!-- Print media coverage here -->

<div class="intro-text">
  {% regionblock news_list_header_one, type:header %}
    <h2 tabindex="0">Print Media Coverage</h2>
  {% endregionblock %}
  <div class="divider">
    <img class="w-100" src="/assets/images/seperator-dark.png" alt="Divider between sections" tabindex="-1" />
  </div>
</div>

{% assign print = site.data._models.news | where: "category", "Print Media Coverage" %}

<div class="news-listing">
  <div class="wrapper">
    {% for post in print %}
      <div class="news-item">
        <div class="image">
          <a href="{{ post.reference_url }}" target="_blank">
            <img src="{{ post.image.url_large }}" alt="{{ post.image.alt }}" />
          </a>
        </div>
        <div class="content">
          <h5 tabindex="0">{{ post.title }}</h5>
          <p tabindex="0">{{ post.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="intro-text">
  {% regionblock news_list_header_two, type:header %}
    <h2 tabindex="0">Online Media Coverage</h2>
  {% endregionblock %}
  <div class="divider">
    <img class="w-100" src="/assets/images/seperator-dark.png" alt="Divider between sections" tabindex="-1" />
  </div>
</div>

{% assign online = site.data._models.news | where: "category", "Online Media Coverage" | sort: 'posted_date' %}
<div class="news-listing mb-3">
  <div class="wrapper">
    {% for post in online %}
      <div class="news-item">
        <div class="image">
          <a href="{{ post.reference_url }}" target="_blank">
            <img src="{{ post.image.url_large }}" alt="{{ post.image.alt }}">
          </a>
        </div>
        <div class="content">
          <h5 tabindex="0">{{ post.title }}</h5>
          {% if post.posted_date and post.posted_date != "" %}
            <h6 tabindex="0">{{ post.posted_date | date: "%B %Y" }}</h6>
          {% endif %}
          <p tabindex="0">{{ post.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
