---
layout: default
title_localized:
  en: Luxury Wedding Venue Space at Central Park NY | The Pierre
  zh: 纽约中央公园奢华的婚庆场馆 | 皮埃尔
meta_description_localized:
  en: Our experienced planners will ensure the success of your wedding ceremony - just complete the request for proposal form and we'll take care of the rest.
  zh: Our experienced planners will ensure the success of your wedding ceremony - just complete the request for proposal form and we'll take care of the rest.
permalink_localized:
  en: /request-for-proposal/
  zh: /request-for-proposal/
published_localized:
  en: true
  zh: true
meta_tags:
  robots:
---

<!-- Meetings Banner here -->
<section class="page-banner inner background-center" style="background-image:url('/assets/images/weddings-rfp-banner.jpg');">
  <div class="overlay-bg"></div>
  <div class="banner-content">
    <h1 class="variant">{% regionblock rfp_title, type:text %}Request for<br>Proposal{% endregionblock %}</h1>
  </div>
</section>

{% if site.active_lang == 'en' %}
{% include forms/jotform/request-for-proposal.html %}
{% else %}
{% include forms/jotform/request-for-proposal-zh.html %}
{% endif %}
