---
layout: default
title: Stunning Event Venues in New York | Venues at The Pierre NY
meta_description:
permalink: /events/venues/
meta_tags:
  robots:
---

<!-- Venues Banner here -->
<div class="page-banner inner" style="background-image:url('/assets/images/events/venues/venues-banner.jpg');">
  <div class="overlay-bg"></div>
  <div class="banner-content">
    {% regionblock venues_title, type:header %}
      <h1 class="variant">WORLD - CLASS VENUES</h1>
    {% endregionblock %}
    <div class="divider"><img class="w-100" src="/assets/images/seperator.png" alt="Divider between sections" /></div>
    {% regionblock venues_subtitle, type:header %}
      <h6>Stunning Event Venues in NYC</h6>
    {% endregionblock %}
  </div>
</div>

{% assign venues = site.data._models.venues | sort:'sort_order' %}

<!-- Venues Listing here -->
<div class="venues-listing">
  <div class="wrapper">
    {% for venue in venues %}
      {% if venue.dont_show_inlist == undefined %}
        <div class="item">
          <img class="w-100" src="{{ venue.venue_thumbnail.url_large }}" alt="{{ venue.venue_thumbnail.alt }}">
          <div class="content">
            <h5>{{ venue.venue_name }}</h5>
            <a class="secondary-btn" href="/events/venues/{{ venue.url_friendly_name }}/">View this venue</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Facility Chart -->
<div class="table-grid">
  <h2>Facility Chart</h2>
  <div class="wrapper table-responsive-md">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Venues</th>
          <th scope="col">Dimension</th>
          <th scope="col">Area</th>
          <th scope="col">Height</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        {% for venue in venues %}
          <tr>
            <td scope="row">{{ venue.venue_name }}</td>
            <td>{{ venue.facility_chart.dimensions }}</td>
            <td>{{ venue.facility_chart.area }}</td>
            <td>{{ venue.facility_chart.height }}</td>
            <td>{{ venue.facility_chart.location }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-sm-flex justify-content-center">
    <a class="border-btn dark wp-more" href="/events/venues/facility-chart/" target="_blank">Download Facility Chart</a>
    <a class="border-btn dark wp-more" href="/assets/pdf/floor-plans.pdf" target="_blank">Download Floor Plan</a>
  </div>
</div>

<!-- Seating Style -->
<div class="table-grid content-center no-bg">
  <h2>Seating Style</h2>
  <div class="wrapper table-responsive-md">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">
            Venue
          </th>
          <th scope="col">
            <img src="/assets/images/events/venues/icons/theater-icon.png" alt="Theater"><br>Theater
          </th>
          <th scope="col">
            <img src="/assets/images/events/venues/icons/circular-icon.png" alt="Theater"><br>Circular
          </th>
          <th scope="col">
            <img src="/assets/images/events/venues/icons/u-shape-icon.png" alt="U-Shaped"><br>U-Shaped
          </th>
          <th scope="col">
            <img src="/assets/images/events/venues/icons/boardroom-icon.png" alt="Boardroom"><br>Boardroom
          </th>
          <th scope="col">
            <img src="/assets/images/events/venues/icons/classroom-icon.png" alt="Classroom"><br>Classroom
          </th>
          <th scope="col">
            <img src="/assets/images/events/venues/icons/reception-icon.png" alt="Reception"><br>Reception
          </th>
        </tr>
      </thead>
      <tbody>
        {% for venue in venues %}
          {% if venue.dont_show_inlist == undefined %}
            <tr>
              <td scope="row">{{ venue.venue_name }}</td>
              <td>{{ venue.floor_plan.theater }}</td>
              <td>{{ venue.floor_plan.circular }}</td>
              <td>{{ venue.floor_plan.ushaped }}</td>
              <td>{{ venue.floor_plan.boardroom }}</td>
              <td>{{ venue.floor_plan.classroom }}</td>
              <td>{{ venue.floor_plan.reception }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
