<!-- {% assign items = site.data._models.afternoon-tea-gallery %}
<section class="common-carousel">
  <h2 class="text-center">Afternoon Tea Gallery</h2>
  <div class="common-carousel-inner">
    <div class="slick-controls" id="commonCarousel">
      {% for item in items %}
      <div class="item">
        <div class="img-block" style="background-image:url('{{item.Image.url}}');"></div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="text-center">
    <a class="primary-btn" href="/offers/">View More Offers</a>
  </div>
</section> -->
