
<!-- Explore More venues -->
<section class="common-carousel">
  {% regionblock explore_venues_heading, type:header %}
    <h2 class="text-center mb-4">Explore Venues</h2>
  {% endregionblock %}
  {% regionblock explore_venues_intro, type:text %}
    <p class="text-center">Browse our enviable collection of distinctive venues.</p>
  {% endregionblock %}
  <div class="divider"><img class="w-100" src="/assets/images/seperator-dark.png" alt="Divider between sections" /></div>
  <div class="common-carousel-inner">
    {% assign venues = site.data._models.venues %}
    <div class="slick-controls" id="commonCarousel">
      {%for venue in venues%}
        <div class="item">
          <div class="img-block" style="background-image:url('{{ venue.venue_thumbnail.url_large }}');"></div>
          <div class="content">
            <h4>{{ venue.venue_name }}</h4>
            <a href="/events/venues/{{ venue.url_friendly_name }}/" class="secondary-btn">View this Venue</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="text-center">
    <a class="primary-btn" href="/events/venues/">View More Venues</a>
  </div>
</section>
