<!-- Footer here -->

<div class="wrapper">
  <div class="row">

    <!-- Address block -->
    <div class="address" tabindex="0">
      <h5>The Pierre</h5>
      <p>
        2 East 61st Street at Fifth Avenue,<br>
        New York City, NY 10065
      </p>
      <p>
        {% t 'tel' %}:  <a href="tel:1 212 838 8000">1 212 838 8000</a><br>
        {% t 'fax' %}: 1 212 940 8109<br>
        <a href="mailto:thepierre.ny@tajhotels.com">thepierre.ny@tajhotels.com</a>
      </p>
    </div>

    <!-- Quicklinks block -->
    <div class="quick-links" tabindex="0">
      <h5>{% t 'other_info'%}</h5>
      {% if site.active_lang == "en" %}
      {% assign quick_links = site.data.navigation.footer.en %}
      {% else %}
      {% assign quick_links = site.data.navigation.footer.zh %}
      {% endif %}
      <ul>
        {% for link in quick_links %}
          <li class="nav-item{% if page.url == link.url %} active{% endif%} {% if link.dropdown %}dropdown{% endif %}">
            <a class="nav-link" href="{{ link.url | absolute_url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Stay in touch -->
    <div class="intouch" tabindex="0">
      <h5>{% t 'keep_in_touch' %}</h5>
      <div class="wrap">
        <p>{% t 'newsltter_text' %}</p>
        {% include /forms/jotform/newsletter.html %}
      </div>
    </div>

  </div>
</div>

<!-- Copyrights & Social Share -->
<div class="copyrights d-flex justify-content-between">
  <span class="text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</span>
  <div class="social-icons" tabindex="0">
    {% if site.data.social.facebook.username %}
      <a href="https://facebook.com/{{ site.data.social.facebook.username }}" target="_blank" title="The Pierre NY Facebook page"><i class="fab fa-facebook" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.data.social.instagram.username %}
      <a href="https://www.instagram.com/{{ site.data.social.instagram.username }}" title="The Pierre NY Instagram page" target="_blank"><i class="fab fa-instagram" aria-hidden="true" ></i></a>
    {% endif %}
    {% if site.data.social.twitter.username %}
      <a href="https://twitter.com/{{ site.data.social.twitter.username }}" target="_blank" title="The Pierre NY Twitter page"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.data.social.pinterest.username %}
      <a href="https://www.pinterest.com/{{ site.data.social.pinterest.username }}" title="The Pierre NY Pinterest Wall" target="_blank" ><i class="fab fa-pinterest" aria-hidden="true"></i></a>
    {% endif %}

  </div>
</div>
