<!-- Footer here -->

<div class="wrapper">
  <div class="row">

    <!-- Address block -->
    <div class="address">
      <h5>The Pierre</h5>
      <p>
        2 East 61st Street at Fifth Avenue,<br>
        New York City, NY 10065
      </p>
      <p>
        Tel:  <a href="tel:1 212 838 8000">1 212 838 8000</a><br>
        Fax: 1 212 940 8109<br>
        <a href="mailto:thepierre.ny@tajhotels.com">thepierre.ny@tajhotels.com</a>
      </p>
    </div>

    <!-- Quicklinks block -->
    <div class="quick-links">
      <h5>Other Information</h5>
      {% assign quick_links = site.data.navigation.footer %}
      <ul>
        {% for link in quick_links %}
          <li class="nav-item{% if page.url == link.url %} active{% endif%} {% if link.dropdown %}dropdown{% endif %}">
            <a class="nav-link" href="{{ link.url | absolute_url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Stay in touch -->
    <div class="intouch">
      <h5>Stay In Touch</h5>
      <div class="wrap">
        <p>Short explanation on why users need to sign up will go here and continue on two lines.</p>
        {% include /forms/jotform/newsletter.html %}
      </div>
    </div>

  </div>
</div>


<!-- <div class="container d-flex justify-content-between">
  <div class="social-icons">
    {% if site.data.ui-text[site.default_lang].follow_label %}
      <strong>{{ site.data.ui-text[site.default_lang].follow_label }}</strong>
    {% endif %}
    {% if site.data.social.twitter.username %}
      <a href="https://twitter.com/{{ site.data.social.twitter.username }}"><i class="fab fa-twitter-square" aria-hidden="true"></i> Twitter</a>
    {% endif %}
    {% if site.data.social.facebook.username %}
      <a href="https://facebook.com/{{ site.data.social.facebook.username }}"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a>
    {% endif %}
  </div>
  <span class="text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</span>
</div> -->
