<!-- RFP -->
<section class="rfp-wrap">
  <div class="rfp-inner">
    <h6>- LET US HELP PLAN YOUR EVENT -</h6>
    <h4>REQUEST FOR PROPOSAL</h4>
    <a class="primary-btn inverse" href="{% if page.url contains '/events/' %}/meetings-rfp/{% elsif page.url contains '/events/meetings/' %}/meetings-rfp/{% elsif page.url contains '/events/weddings/' %}/request-for-proposal/{% endif %}">Start Here</a>
    <p>Call our team on <a href="tel:+1 212 940 8111">+1 212 940 8111</a>
    </p>
  </div>
</section>
