<!-- Setup conditional statement here for pages on which a map should load. -->
{% if map == true %}
  <!-- Leaflet -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>
  <script src="{{ '/assets/js/leaflet-plugin.js' | absolute_url }}"></script>
{% endif %}

<!--[if gte IE 9]><!-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<!--<![endif]-->
<!--[if IE 9]>
  <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie9.js"></script>
<![endif]-->
<!--[if lte IE 8]>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
<![endif]-->

<!-- Bootstrap Select JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

{% if page.url contains 'gallery' %}

  <script type="text/javascript">
   $(document).ready(function(){
      $('body').TTwidgets({
         {% if site.data.tt_widgets.hotelId and  site.data.tt_widgets.hotelId !="" %}
         hotel_id: '{{site.data.tt_widgets.hotelId}}',
         {% endif %}
         {% if site.data.tt_widgets.portalId and site.data.tt_widgets.portalId !="" %}
         portal_id: '{{site.data.tt_widgets.portalId}}',
         {% endif %}
         offer_popup_widget: {
            {% if site.data.tt_widgets.versatile_popup == 'true'%}
            show: true
            {% endif %}
          },
          offer_gallery:{
            galleryselector: '.item',
            buttonClass: 'rounded-btn'
            {% if site.data.tt_widgets.offers_gallery == 'true'%}
            ,
            show: true
            {% endif %}
          }
      });

    });
  </script>

{% endif %}
