// Base Elements
// ==========================================================================

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font-family;
  font-size: $type-size-10;
  line-height: 1.5;
  color: $text-color;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
  }
}

h1 {
  font-family: $header-font-family;
  font-size: $type-size-2;
  line-height: 3.938rem;
  letter-spacing: .131rem;

  &.variant {
    font-size: $type-size-3;
    line-height: 2.5rem;
    letter-spacing: .103rem;
  }

  @include media-breakpoint-up(md) {
    font-size: $type-size-1;
    line-height: 4.8rem;

    &.variant {
      font-size: $type-size-2;
      line-height: 3.938rem;
    }
  }
}

h2 {
  font-family: $header-font-family;
  font-size: $type-size-5;
  line-height: 1.875rem;
  @include media-breakpoint-up(md) {
    font-size: $type-size-3;
    line-height: 2.5rem;
  }
}

h3 {
  font-family: $secondary-header-font;
  font-size: $type-size-5;
  line-height: 2.188rem;

  @include media-breakpoint-up(md) {
    font-size: $type-size-4;
    line-height: 2.5rem;
  }
}

h4 {
  font-family: $header-font-family;
  font-size: $type-size-6;
  line-height: 2rem;

  @include media-breakpoint-up(md) {
    font-size: $type-size-5;
    line-height: 2.188rem;
  }
}

h5 {
  font-family: $secondary-header-font;
  font-size: $type-size-6;
  line-height: 2rem;
  letter-spacing: .031rem;
}

h6 {
  font-family: $header-font-family;
  font-size: $type-size-7;
  line-height: 1.875rem;
}

small, .small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3rem;
}

q {
  display: block;
  max-width: 950px;
  margin: 0 auto;
  font-family: $secondary-header-font;
  font-size: $type-size-4;
  line-height: 2.5rem;
  color: $text-color;

  &::before, &::after {
    display: none;
  }

  span {
    color: $primary-color;
  }
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

// Links

a {
  color: $primary-color;

  &:hover,
  &:active {
    color: $primary-color;
    text-decoration: underline;
    outline: 0;
  }
}

// Sets a default bottom margin and removes bullet points from lists

ul li,
ol li {
  margin-bottom: .5rem;
  list-style: none;
}

li ul,
li ol {
  margin-top: .5rem;
  list-style: none;
}

// Fix IE9 SVG bug

svg:not(:root) {
  overflow: hidden;
}

.text-muted {
  color: #7f7e7e !important;
}
