// Footer Elements
// ==========================================================================

// For sticky footer see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

footer {
  width: 100%;
  padding: 30px 15px;
  background: $text-color;
  .wrapper {
    @include fixed-width-layout;
    color: $white;

    .row {
      @include make-row;
      text-align: center;

      h5 {
        color: $primary-color-light;
      }

      a {
        color: $white;
      }

      p {
        font-size: $type-size-10;
      }

      @include media-breakpoint-up(md) {
        text-align: left;
      }

      .address {
        @include make-col-ready;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
          @include make-col(3);
        }
      }

      .quick-links {
        @include make-col-ready;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
          @include make-col(3);
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            width: auto;
            text-align: center;
            a {
              display: inline-block;
            }
            @include media-breakpoint-up(md) {
              text-align: left;
            }
          }
        }
      }

      .intouch {
        @include make-col-ready;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
          @include make-col(6);
        }

        .wrap {
          @include make-row;

          p,form {
            @include make-col-ready;
            @include media-breakpoint-up(md) {
              @include make-col(6);
            }
          }

          input[type=email], input[type=text] {
            padding: 12px 20px 16px;
            font-size: $type-size-10;
            color: $white;
            background-color: $text-color;
            border-color: $border-secondary-color;
            border-radius: 0;
            @include placeholder {
              font-size: $type-size-10;
              color: $white;
            }
            &:focus, :active {
              background-color: $tertiary-color;
              outline: 0;
              box-shadow: none;
            }
          }

          button {
            position: relative;
            width: 50px;
            background-color: $white;
            border: 0;
            border-radius: 0;

            &:after {
              position: absolute;
              top: 21px;
              left: 15px;
              width: 20px;
              height: 9px;
              content: '';
              background-image: url('/assets/images/arrow-darker.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100%;
            }

            &:hover {
              background-color: $signup-button-color;
            }
          }

        }

      }
    }
  }
}

.copyrights {
  @include fixed-width-layout;
  margin-bottom: 50px;

  span {
    font-size: $type-size-10;
  }

  a {
    padding: 0 20px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      svg {
        color: $primary-color-light;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    display: block !important;
    span,.social-icons {
      display: block;
      width: 100%;
      margin: 10px 0 20px;
      text-align: center;
    }
  }
}
