// Mixins
// ==========================================================================


// Vertical Center (Includes IE9)

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Absolute Position
@mixin absolute-position($top, $right, $bottom, $left, $width, $height) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
  content: '';
}

//Full Width Template
@mixin fluid-layout {
  @include make-container;
  max-width: 100%;
  margin: 0 auto;
}

// Fixed Width Template
@mixin fixed-width-layout {
  @include make-container;
  max-width: 1400px;
  margin: 0 auto;
}

// Fixed Width Content
@mixin fixed-width-content {
  @include make-container;
  max-width: 840px;
  margin: 0 auto;
}

// Transition
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -o-transition:      $transition;
  transition:         $transition;
}

//Placeholder
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
