// Variables
// ==========================================================================


// Typography
$font-size-base: 1rem !default;
$base-font-family: 'Roboto', sans-serif;
$base-font-weight: 400;
$base-line-height: 1.5;

$primary-header-font: 'TrajanPro-Bold';
$secondary-header-font: 'roboto_condensedlight';
$tertiary-header-font: 'roboto_condensedbold';
$tag-line-font: 'roboto_condensedregular';
$rare-heading-font: 'TrajanPro-Regular';


$global-font-family: $base-font-family !default;
$header-font-family: $primary-header-font !default;
$caption-font-family: $tag-line-font !default;

// Type scale
$type-size-1: 2.441rem !default; // ~39.056px
$type-size-2: 1.953rem !default; // ~31.248px
$type-size-3: 1.563rem !default; // ~25.008px
$type-size-4: 1.25rem !default; // ~20px
$type-size-5: 1rem !default; // ~16px
$type-size-6: .75rem !default; // ~12px
$type-size-7: .6875rem !default; // ~11px
$type-size-8: .625rem !default; // ~10px

// Colors
$primary-color: #74503a;
$primary-color-light: #b18b74;
$secondary-color: #f7f7f7;
$text-color: #231f20;
$gray: #747474;
$body-color: $white;
$info-color: $primary-color !default;

// Brands
$facebook-color: #3b5998 !default;
$google-plus-color: #dd4b39 !default;
$instagram-color: #517fa4 !default;
$pinterest-color: #cb2027 !default;
$twitter-color: #55acee !default;
$youtube-color: #b00 !default;

// Links
$link-color: $info-color !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 25%) !default;

// Other
$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, .125) !default;
$global-transition: all .2s ease-in-out !default;
