// Events Page Elements
// ==========================================================================

//Events Listing
.events-listing {
  margin-top: 100px;

  .event-category-intro {
    position: relative;
    @include fixed-width-layout;
    height: 600px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    .intro-text {
      position: absolute;
      right: 0;
      bottom: 100px;
      left: 0;

      h2,p {
        color: $white;
      }
      p {
        font-family: $tag-line-font;
        font-size: $type-size-8;
        line-height: 1.875rem;
        letter-spacing: .063rem;
      }
    }
  }

  // Event Detils section
  .event-details {
    position: relative;
    top: -60px;
    max-width: 1200px;
    margin: 0 auto;

    .card {
      border: 1px solid $item-border-color;
      border-radius: 0;

      .card-header {
        padding: 15px 0;
        cursor: pointer;
        background: $item-bg-color;
        border-radius: 0;

        .schedule {
          float: left;
          padding: 0 75px;
          border-right: solid 1px $item-border-color-light;

          span {
            display: inline-block;
            font-family: $tertiary-header-font;
            font-size: $type-size-9;
            line-height: 2.5rem;
            color: $white;
            text-transform: uppercase;
          }
          h4 {
            color: $white;
          }
        }

        h3 {
          float: left;
          padding: 20px 75px 0;
          color: $white;
        }

        // Control Icons
        .controls {
          float: right;
          padding: 30px 50px 0;

          svg {
            font-size: 24px;
            color: $white;
          }

          .fa-minus {
            display: block;
          }

          .fa-plus {
            display: none;
          }
        }

        &.collapsed {
          background: $white;

          .schedule {
            border-right-color: rgba(35,31,32,.3);
          }

          span, h3, h4, svg {
            color: $text-color;
          }

          .controls {

            .fa-minus {
              display: none;
            }

            .fa-plus {
              display: block;
            }
          }

        }

      }

      .card-body {
        padding: 30px;
        
        .wrapper {
          text-align: center;

          p {
            max-width: 930px;
            margin: 0 auto;
            font-family: $tag-line-font;
            font-size: $type-size-8;
            line-height: 1.875rem;
            letter-spacing: .025rem;
          }

          .opentable-widget {

            span {
              display: block;
              padding: 20px 0 40px;
              font-family: $tag-line-font;
              font-size: $type-size-9;
              color: $text-color;
            }

            h6 {
              padding: 40px 0 10px;
              color: $primary-color;
              text-align: center;
              text-transform: uppercase;
            }

            .secondary-btn {
              margin: 25px 30px;
            }

            .ot-dtp-picker {

              &.wide {
                width: 100%;
                max-width: 750px;
                margin: 0 auto;
              }

              .ot-title {
                display: none;
              }

              .ot-dtp-picker-form {
                height: 60px;
                border-radius: 0;
                outline: solid 4px rgba(0,0,0,.1);
              }

              .ot-dtp-picker-selector {
                width: 170px;
                height: 60px;

                select {
                  width: auto;
                }

                .ot-dtp-picker-selector-link {
                  padding: 18px 20px 20px 0;

                  &:before {
                    display: none;
                  }

                  &:after {
                    right: 20px;
                  }
                }
              }

              .ot-dtp-picker-button {
                width: 205px;
                height: 58px;
                font-family: $tertiary-header-font;
                font-size: $type-size-9;
                text-transform: uppercase;
                background-color: $primary-color;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                @include transition (all .5s);

                &:hover {
                  background-color: $text-color;
                }
              }

              .ot-powered-by {
                display: none;
              }
            }
          }
        }

      }
    }
  }

}
