// Home page styling here

.intro {
  @include fixed-width-layout;
  margin: 0 auto 35px;
  @include media-breakpoint-up(md) {
    margin: 0 auto 99px;
  }

  .images-section {
    @include make-row;

    .images {
      @include make-col-ready();
      padding: 0;
      @include bg-cover;
      @include media-breakpoint-up(md) {
        @include make-col(6);
        padding: 0;
      }

      .image-full {
        position: relative;
        min-height: 375px;
        @include bg-cover;
        margin-bottom: 15px;
        @include media-breakpoint-up(md) {
          min-height: 770px;
          margin-bottom: 0;
        }
      }

      .image-text {
        position: relative;
        min-height: 280px;
        @include bg-cover;
        @include media-breakpoint-up(md) {
          min-height: 380px;
        }

        &.mt-15 {
          margin-top: 10px;
        }
      }
    }
  }
}

.heading {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 50px 17px 17px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.75) 98%,rgba(0,0,0,.75) 100%);
  @include media-breakpoint-up(md) {
    padding-top: 250px;
    padding-bottom: 35px;
    padding-left: 35px;
  }

  h6 {
    font-family: $rare-heading-font;
    color: $white;
    @include media-breakpoint-down(md) {
      font-size: 1.125rem;
      line-height: 1.125rem;
    }
  }
}

.home-events {
  @include fixed-width-layout;
  margin: 0 auto 47px;
  @include media-breakpoint-up(md) {
    margin: 0 auto 99px;
  }
  @extend .intro; //extened the intro section scss
}
//Entertainment section
.entertainment {
  @include fluid-layout;
  @include bg-cover;
  padding-right: 0;
  padding-bottom: 35px;
  padding-left: 0;
  @include media-breakpoint-up(md) {
    padding-bottom: 99px;
  }

  .shows {
    @include fixed-width-layout;

    .shows-row {
      @include make-row;
    }

    .shows-image {
      @include make-col-ready();
      padding: 0;

      &:first-child {
        @include media-breakpoint-up(md) {
          @include make-col(6);
          padding: 0;
        }
      }

      @include media-breakpoint-up(md) {
        @include make-col(3);
        padding: 0;
      }
    }

    .s-image {
      @include bg-cover;
      position: relative;
      width: auto;
      min-height: 300px;
      margin-bottom: 15px;
      @include media-breakpoint-up(md) {
        min-height: 400px;
        margin-bottom: 0;
      }
      @include media-breakpoint-up(lg) {
        min-height: 500px;
        margin-bottom: 0;
      }
    }
  }
}

.instagram {
  padding-top: 0;
  padding-bottom: 30px;
  @include media-breakpoint-up(md) {
    padding-bottom: 75px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 130px;
  }

  h2 {
    text-align: center;
  }

  .wrapper {
    @include fixed-width-layout;
    margin-top: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }

    .feed {
      @include make-col-ready();
      @include bg-cover;
      padding: 0;
      border-top: 7px solid $white;
      border-right: 0 solid $white;
      border-bottom: 7px solid $white;
      border-left: 0 solid $white;
      @include media-breakpoint-up(md) {
        @include make-col(3);
        padding: 0;
        border: 5px solid $white;
      }

      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: $white;
        text-decoration: none;
        @include transition (all 0.5s);

        p {
          position: absolute;
          bottom: 21px;
          left: 20px;
          width: 100px;
          margin: auto;
          font-size: 14px;
          opacity: 0;

          .svg-inline--fa {
            margin: 0 5px;
          }
        }

        &:hover {
          background: rgba(000,000,000,.4);

          p {
            opacity: 100;
          }
        }
      }
    }
  }
}
