// Location Page Elements
// ==========================================================================

.three-images {
  margin-bottom: 50px;
  @include media-breakpoint-up(md) {
    margin-bottom: 99px;
  }
  .three-images-inner {
    @include make-row;
  }
  .img-block {
    padding: 0 !important;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    img {
      width: 100%;
    }
  }
}

.content-wrapper {
  @include fixed-width-layout;
  margin-bottom: 50px;
  @include media-breakpoint-up(md) {
    margin-bottom: 99px;
  }
  .content-wrapper-inner {
    @include make-row;
  }
  .left-content {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
    .left-content-inner {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 80%;
      }
      h4 {
        margin: 40px 0 20px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .right-content {
    padding-top: 40px;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4);
      padding-top: 0;
    }
    .right-content-inner {
      margin-bottom: 30px;
      p {
        span {
          display: block;
        }
      }
      h6 {
        margin-bottom: 16px;
      }
    }
  }
}

.map-wrapper {
  margin-bottom: 50px;
  background-color: $secondary-color;
  @include media-breakpoint-up(md) {
    margin-bottom: 99px;
  }
  .map-inner {
    @include fixed-width-layout;
    padding-top: 40px;
    padding-bottom: 40px;
    .map-wrapper-inner {
      @include make-row;
    }
    .map-block {
      @include make-col-ready();
      @include media-breakpoint-up(lg) {
        @include make-col(7);
      }
      img {
        width: 100%;
      }
    }
    .content {
      padding-top: 40px;
      text-align: center;
      @include make-col-ready();
      @include media-breakpoint-up(lg) {
        @include make-col(5);
        padding-top: 0;
        padding-left: 50px;
        text-align: left;
      }
      .logo {
        margin-bottom: 40px;
      }
      p {
        img {
          margin-right: 20px;
        }
      }
      h6 {
        margin-bottom: 30px;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          margin-bottom: 12px;
          @include media-breakpoint-up(lg) {
            display: block;
          }
          .num {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 15px;
            margin-left: 5px;
            padding-top: 3px;
            font-size: $type-size-11;
            font-style: normal;
            color: $white;
            text-align: center;
            background: $black;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.more-hotels-wrapper {
  margin-bottom: 50px;
  @include media-breakpoint-up(md) {
    margin-bottom: 99px;
  }
  .more-hotels {
    @include fixed-width-layout;
    .more-hotels-inner {
      @include make-row;
    }
    .hotel-block {
      margin-bottom: 30px;
      padding: 0 15px;
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
      .hotel-img {
        img {
          width: 100%;
        }
      }
      .hotel-content {
        margin-top: 1.3rem;
        p, h4 {
          margin-bottom: 10px;
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
