// Offers & Offer Details Page Elements
// ==========================================================================

// Offers Menu
.offers-menu {
  @include fluid-layout;
  margin-bottom: 30px;
  padding: 30px 0;
  background-color: $secondary-color;
  @include media-breakpoint-up(md) {
    margin-bottom: 50px;
    padding: 40px 0;
  }
  .offers-menu-inner {
    @include fixed-width-layout;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0;
        padding: 4px 8px;
      }
    }
  }
}

// Offer Listing
.offers-listing {
  @include fixed-width-layout;
  .offers-listing-inner {
    @include make-row;
  }
  .offer-block {
    margin-bottom: 30px;
    padding: 0 15px;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(3);
      margin-bottom: 50px;
    }
    figure {
      overflow: hidden;
    }
    .offer-img {
      position: relative;
      height: 300px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 170px;
        content: '';
        -webkit-background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
        -moz-background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
        -ms-background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
        -o-background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
      }
      h4 {
        position: absolute;
        bottom: 0;
        z-index: 9;
        width: 100%;
        margin: 0;
        padding: 30px;
        color: $white;
        @include transition(all .5s ease);
      }
      &:hover {
        h4 {
          bottom: 10px;
        }
      }
    }
    .offer-content {
      margin-top: 1.3rem;
      p {
        margin-bottom: 10px;
      }
    }
  }
}

// offer Details
.offer-details {
  @include fixed-width-layout;
  margin-bottom: 50px;
  .offers-desc {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 40px;
    }
  }
  .offer-details-inner {
    @include make-row;
  }
  .img-carousel {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
    width: 100%;
    .carousel-inner {
      height: 450px;
      @include media-breakpoint-up(lg) {
        height: 600px;
      }
      .carousel-item {
        height: inherit;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    .carousel-control-prev, .carousel-control-next {
      position: absolute;
      top: 50%;
      bottom: auto;
      width: 35px;
      height: 35px;
      background-color: rgba(0, 0, 0, .5);
      opacity: 1;
      transform: translate(0, -50%);
      @include transition(all .5s ease);
      &:hover {
        background-color: rgba(0, 0, 0, 1);
      }
    }
    .carousel-control-prev {
      background-image: url('/assets/images/previous.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px;
    }
    .carousel-control-next {
      background-image: url('/assets/images/next.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px;
    }
  }
  .content {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
      margin-top: 0;
    }
    margin-top: 50px;
    .content-inner {
      @include media-breakpoint-up(lg) {
        margin-left: 50px;
        padding-left: 44px;
        border-left: 1px solid $black;
      }
    }
    h6 {
      margin-bottom: 20px;
    }
    ul {
      margin: 0 0 40px 30px;
      padding: 0;
      li {
        padding: 0 0 0 30px;
        background-image: url('/assets/images/checkbox.png');
        background-repeat: no-repeat;
        background-position-y: 3px;
      }
    }
  }
}

.common-carousel {
  padding: 40px 0;
  background-color: $secondary-color;
  &.other-carousel {
    background-color: $white;
    .item {
      .content {
        background-color: $secondary-color !important;
      }
    }
  }
  .common-carousel-intro {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-bottom: 30px;
    }
  }
  .common-carousel-inner {
    @include fixed-width-layout;
    .item {
      padding: 0 15px;
      .img-block {
        height: 250px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      .content {
        padding: 20px;
        background-color: $white;
        h4 {
          font-size: $type-size-6;
          line-height: 1.875rem;

          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      img {
        width: 100%;
      }
    }
    .slick-arrow {
      position: absolute;
      z-index: 2;
      width: 35px;
      height: 35px;
      background-color: $primary-color;
      opacity: 1;
      @include transition(all .5s ease);
      &:hover {
        background-color: $primary-color;
      }
    }
    .slick-prev {
      @media screen and(min-width: 1530px) {
        left: -50px;
      }
      left: 0;
      background-image: url('/assets/images/previous.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px;
      &:before {
        content: '';
      }
    }
    .slick-next {
      @media screen and(min-width: 1530px) {
        right: -50px;
      }
      right: 0;
      background-image: url('/assets/images/next.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px;
      &:before {
        content: '';
      }
    }
  }
  a {
    &.primary-btn {
      margin: 50px 0 10px;
    }
  }
}
