// Shared Page Elements
// ==========================================================================

// Page Banners
.page-banner {
  position: relative;
  @include fluid-layout;
  height: 690px;
  padding-right: 0;
  padding-left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .banner-content {
    @include vertical-center;
    z-index: 10;
    max-width: 840px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    color: $white;
    text-align: center;
    transform: translateY(-43%);

    h6 {
      padding: 10px 0 30px;

      a {
        color: $white;
      }

      @include media-breakpoint-up(md) {
        padding: 20px 0 50px;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
      }
    }

    @include media-breakpoint-up(xl) {
      transform: translateY(-35%);
    }
  }

  &.inner {
    height: 550px;

    .banner-content {
      max-width: 1024px;
      transform: translateY(-30%);

      @include media-breakpoint-up(xl) {
        transform: translateY(-15%);
      }
    }
    .carousel {
      .banner-content {
        position: absolute;
        right: 0;
        left: 0;
      }
    }
    .carousel-item {
      height: 550px;
      @extend .bg-cover;
    }
  }
}

//Seperator (or) Divider
.divider {
  width: 208px;
  height: 22px;
  margin: 30px auto 25px;
}

//Banner Overlay
.overlay-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: url('/assets/images/overlay-bg.png');
  background-repeat: repeat-x;

  &.reverse {
    background-image: url('/assets/images/overlay-bg-reverse.png');
    background-position: bottom left;
  }
}


.mr-15 {
  margin-right: 0;
  @include media-breakpoint-up(md) {
    margin-right: 10px;
  }
}
.ml-15 {
  margin-left: 0;
  @include media-breakpoint-up(md) {
    margin-left: 10px;
  }
}

.mt--15 {
  margin-top: 10px;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &.bg-top {
    background-position: top center;
  }
}

.extra-padding {
  @include media-breakpoint-up(lg) {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
  }
}

.crest-holder {
  position: relative;
  width: 200px;
  margin: 30px auto 35px;
  text-align: center;
  &:before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 80px;
    height: 1px;
    content: '';
    background-color: $primary-color;
  }
  &:after {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 9;
    width: 80px;
    height: 1px;
    content: '';
    background-color: $primary-color;
    transform: translateY(-50%);
  }
}

.intro-text {
  max-width: 785px;
  margin: auto;
  padding: 35px 15px;
  text-align: center;
  @include media-breakpoint-up(md) {
    padding: 99px 15px 35px;
  }
  &.intro-two {
    padding-top: 40px;
    padding-bottom: 40px;
    h4 {
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 30px;
      &.line {
        &:after {
          position: absolute;
          top: auto;
          right: 0;
          bottom: 0;
          left: 0;
          width: 26px;
          height: 1px;
          margin: 0 auto;
          content: '';
          background-color: $text-color;
        }
      }
    }
    img {
      margin-bottom: 30px;
    }
  }

  h2 {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    //margin-bottom: 0;
    font-size: $type-size-9;
    color: $text-color;
    text-align: center;
  }

  img {
    display: block;
    margin: 20px auto 0;
  }

  a {
    &.primary-btn {
      margin-top: 20px;
    }
  }
}


.twocol {
  @include fluid-layout;
  background-color: $secondary-color;
  .twocol-row {
    @include make-row();
    &:nth-child(odd) {
      .twocol-image {
        @include media-breakpoint-up(md) {
          order: 2;
        }
      }
    }
  }
  .twocol-content {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    display: flex;
    align-items: center;
    .content-holder {
      margin: 0 auto;
      padding: 40px 15px;
      text-align: center;
      @include media-breakpoint-up(md) {
        max-width: 90%;
      }
      @include media-breakpoint-up(lg) {
        max-width: 70%;
        padding: 60px 15px;
      }
    }
    h6 {
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 10px;
      font-family: $tag-line-font;
      font-size: $type-size-11;
      color: $text-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      @include media-breakpoint-up(md) {
        font-size: $type-size-10;
        letter-spacing: 3px;
      }
      &:after {
        @include absolute-position(auto, 0, 0, 0, 26px, 1px);
        margin: 0 auto;
        background-color: $text-color;
      }
    }
    h4 {
      margin-bottom: 40px;
      color: $primary-color;
      text-transform: uppercase;
      @include media-breakpoint-up(md) {
        margin-bottom: 40px;
      }
    }
    .btn-holder {
      margin-top: 30px;
    }
    .twocol-list {
      margin: 0;
      padding: 0;
      text-align: left;
      li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: $type-size-10;
        &:after {
          @include absolute-position(8px, auto, auto, 0, 4px, 4px);
          background-color: $primary-color;
          border-radius: 50%;
        }
      }
    }
  }
  .twocol-image {
    @include make-col-ready();
    display: flex;
    align-items: center;
    background-color: $white;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    .tt-region {
      width: 100%;
    }

    &.bg-image {
      @extend .bg-cover;
      height: 300px;
      background-position: top center;
      @include media-breakpoint-up(md) {
        height: auto;
      }
    }
    .logo-holder {
      max-width: 200px;
      margin: 40px auto;
      @include media-breakpoint-up(md) {
        margin: 0 auto;
      }
      @include media-breakpoint-up(lg) {
        max-width: 300px;
      }
    }
    img {
      width: 100%;
    }
  }
}
//Quotation block styling
.quote {
  width: 100%;
  padding: 50px 20px;
  text-align: center;
  text-transform: none;
  background: $secondary-color;

  @include media-breakpoint-up(md) {
    padding: 90px 20px;
  }

  &.light {
    background: $white;
  }

  p {
    display: block;
    max-width: 950px;
    margin: 0 auto;
    font-family: $secondary-header-font;
    font-size: $type-size-5;
    line-height: 2rem;
    color: $text-color;

    span {
      color: $primary-color;
    }

    @include media-breakpoint-up(md) {
      font-size: $type-size-4;
      line-height: 2.5rem;
    }
  }
}

//For Accordion transition
.no-transition {
  transition: none !important;
}

.strong-italic {
  font-size: $type-size-10;
  font-style: italic;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.seperator {
  margin-bottom: 20px;
  border-top: solid 1px $border-color;
}

//Preloader Styling here

#preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: $white;
  // change if the mask should have another color then white
  // makes sure it stays on top
}

#status {
  @include vertical-center;
  margin: 0 auto;
}

.spinner-sm {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-image: url('/assets/images/logo-symbol.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.spinner-sm:after,
.spinner-sm:before {
  display: block;
  width: 90px;
  height: 90px;
  content: '';
  border-radius: 50%;
}

.spinner-sm-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: $primary-color-light;
  border-bottom-color: $primary-color-light;
  opacity: .5;
  animation: spinny .8s linear infinite;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

//LightGallery fixes
.lg-sub-html {
  .border-btn {
    margin: 20px auto;
  }
}


// Booking widget overriding stylesheet
.ttweb-booking-widget__header {
  background: $text-color;
}
.ttweb-booking-widget__body__date-selection__calendar .calendar-month table.calendar-month__grid .calendar-month__grid__date--in-selection {
  background: $primary-color;
}
.ttweb-booking-widget button.ttweb-booking-widget__submit {
  background-color: $primary-color;
  &:active {
    background-color: $primary-color;
  }
}

.sr-only-focusable {
  position: fixed;
  top: 0;
  right: auto;
  left: auto;
  z-index: 9;
  padding: 10px 20px;
}
