.reservations {
  padding: 20px 0;
  text-align: center;
  background-color: $primary-color;
  .reservations-container {
    @include fixed-width-content;
    h4 {
      color: $white;
    }
  }
}

.gallery-carousel {
  padding-bottom: 50px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 90px;
  }
  h2 {
    margin-bottom: 50px;
  }
}

.menus-container {
  @include fixed-width-layout;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  .menus-content {
    max-width: 1000px;
    margin: 0 auto;
    .menus-row {
      @include make-row;
      margin-bottom: 30px;
    }
    .menus-col {
      @include make-col-ready;
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
      &:nth-of-type(odd) {
        border-right: 0;
        @include media-breakpoint-up(md) {
          border-right: solid 1px $border-color;
        }
      }
    }
    h2 {
      margin-bottom: 40px;
    }
    h3 {
      margin-bottom: 30px;
    }
    h4 {
      // margin-top: 30px;
      margin-bottom: 25px;
    }
    h6 {
      font-size: $type-size-8;
      color: $primary-color;
    }
    .table {
      font-size: $type-size-10;
      td {
        padding: 8px 20px;
        border-top: 0;
      }
    }
    .table-striped {
      tbody {
        tr:nth-of-type(odd) {
          background-color: $secondary-color;
        }
      }
    }
  }
}
