.reservations {
  padding: 20px 0;
  text-align: center;
  background-color: $primary-color;
  .reservations-container {
    @include fixed-width-content;
    h4 {
      color: $white;
    }
  }
}

.gallery-carousel {
  padding-bottom: 50px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 90px;
  }
  h2 {
    margin-bottom: 50px;
  }
}
