// Offers & Offer Details Page Elements
// ==========================================================================

.rfp-wrap {
  background-color: $primary-color;
  .rfp-inner {
    padding: 30px 0;
    text-align: center;
    @include fixed-width-content;
    @include media-breakpoint-up(md) {
      padding: 50px 0;
    }
    p {
      margin: 20px 0 0;
      color: $white;
      a {
        color: $white;
      }
    }
    h6 {
      margin-bottom: 16px;
      color: $white;
    }
    h4 {
      margin-bottom: 50px;
      color: $white;
    }
    a {
      &.primary-btn {
        &:hover {
          background-color: $black;
        }
      }
    }
  }
}

.pinterest-wrapper {
  @include fixed-width-layout;
  max-width: 1200px; 
  margin-bottom: 50px;
  span {
    max-width: 100% !important;
    padding: 0;
    box-shadow: none;
  }
}
