---
layout: default
title: Venue Details
---

{% assign venues = page %}
{% assign model = page %}

<!-- Venue details banner here -->
<section class="page-banner" style="background-image:url('{{ page.venue_image.url_large }}');">
  <div class="overlay-bg"></div>
  <div class="banner-content">
    <h1>{{ page.venue_name }}</h1>
    <div class="divider"><img class="w-100" src="/assets/images/seperator.png" alt="Divider between sections" /></div>
    <h6>Call Our Team<br><a href="tel:212-940-8111">+1 212 940 8111</a></h6>
    <a class="primary-btn inverse" href="/location/">View Location</a>
  </div>
</section>
