<!-- All Event types RFP  -->
<h4 class="mb-4">Plan an Event</h4>
<p>
  We look forward to helping you enjoy a memorable event. It will be our pleasure to contact you within one business day.
</p>

<form class="jotform-form" action="https://submit.jotform.me/submit/{% if page.url contains 'corporate-events' %}{{ site.data.forms.jotform.corporate-events-rfp }}{% elsif page.url contains 'special-events' %}{{ site.data.forms.jotform.special-events-rfp }}{% elsif page.url contains 'wedding-events' %}{{ site.data.forms.jotform.wedding-events-rfp }}{% endif %}/" method="post" name="form_71242185004445" id="{% if page.url contains 'corporate-events' %}{{ site.data.forms.jotform.corporate-events-rfp }}{% elsif page.url contains 'special-events' %}{{ site.data.forms.jotform.special-events-rfp }}{% elsif page.url contains 'wedding-events' %}{{ site.data.forms.jotform.wedding-events-rfp }}{% endif %}" accept-charset="utf-8">
  <input type="hidden" name="formID" value="{% if page.url contains 'corporate-events' %}{{ site.data.forms.jotform.corporate-events-rfp }}{% elsif page.url contains 'special-events' %}{{ site.data.forms.jotform.special-events-rfp }}{% elsif page.url contains 'wedding-events' %}{{ site.data.forms.jotform.wedding-events-rfp }}{% endif %}" />

  <input type="text" class="form-control" placeholder="Full Name" id="input_3" name="q3_name" required>

  <input type="text" class="form-control" placeholder="Phone Number" id="input_5" name="q5_phoneNumber" required>

  <input type="email" class="form-control" placeholder="Email Address" id="input_4" name="q4_email" required>

  <input type="text" class="form-control" placeholder="Event Size" id="input_6" name="q6_eventSize">

  <button id="input_2" type="submit" name="Submit" class="primary-btn mt-2">Request a Consultation</button>

  <input type="hidden" id="simple_spc" name="simple_spc" value="{% if page.url contains 'corporate-events' %}{{ site.data.forms.jotform.corporate-events-rfp }}{% elsif page.url contains 'special-events' %}{{ site.data.forms.jotform.special-events-rfp }}{% elsif page.url contains 'wedding-events' %}{{ site.data.forms.jotform.wedding-events-rfp }}{% endif %}" />

  <script type="text/javascript">
    document.getElementById("si" + "mple" + "_spc").value = "{% if page.url contains 'corporate-events' %}{{ site.data.forms.jotform.corporate-events-rfp }}{% elsif page.url contains 'special-events' %}{{ site.data.forms.jotform.special-events-rfp }}{% elsif page.url contains 'wedding-events' %}{{ site.data.forms.jotform.wedding-events-rfp }}{% endif %}-{% if page.url contains 'corporate-events' %}{{ site.data.forms.jotform.corporate-events-rfp }}{% elsif page.url contains 'special-events' %}{{ site.data.forms.jotform.special-events-rfp }}{% elsif page.url contains 'wedding-events' %}{{ site.data.forms.jotform.wedding-events-rfp }}{% endif %}";
  </script>

</form>
