<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.newsletter-id }}/" method="post" name="form_{{ site.data.forms.jotform.newsletter-id }}"
    id="{{ site.data.forms.jotform.newsletter-id }}" accept-charset="utf-8">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.newsletter-id }}">
    <div class="input-group">
      <input class="form-control" type="email" id="input_3" name="q3_input3" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-signup">
      <div class="input-group-append">
        <button class="btn" type="submit" id="button-signup" aria-label="Submit"></button>
      </div>
    </div>
    <input type="hidden" id="simple_spc" name="simple_spc" value="{{ site.data.forms.jotform.newsletter-id }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.newsletter-id }}-{{ site.data.forms.jotform.newsletter-id }}";
    </script>
</form>

<script type="text/javascript">JotForm.ownerView=true;</script>
