<section class="rfp-form">
  <h6>请于下方填写详细信息，以便我们更好地为您服务。</h6>
  <form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.rfp-id }}/" method="post" name="form_{{ site.data.forms.jotform.rfp-id }}" id="{{ site.data.forms.jotform.rfp-id }}" accept-charset="utf-8">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.rfp-id }}" />
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q3_first-name" placeholder="First Name" aria-label="Type your first name" required>
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q9_last-name" placeholder="Last Name" aria-label="Type your last name" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q11_address-line-1" placeholder="Address 1" aria-label="Type address line 1">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q12_address-line-2" placeholder="Address 2" aria-label="Type address line 2">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q13_city" placeholder="City" aria-label="Type your city">
      </div>
      <div class="form-group col-md-6">
        <select class="form-control" id="input_10" name="q10_state">
                        <option value="" selected="">州/省</option>
                        <option value="AL">阿拉巴马</option>
                        <option value="AK">阿拉斯加</option>
                        <option value="AB">阿尔伯塔</option>
                        <option value="AZ">亚利桑那</option>
                        <option value="AR">阿肯色</option>
                        <option value="BC">不列颠哥伦比亚</option>
                        <option value="CA">加利福尼亚</option>
                        <option value="CO">科罗拉多</option>
                        <option value="CT">康涅狄格</option>
                        <option value="DE">特拉华</option>
                        <option value="FL">佛罗里达</option>
                        <option value="GA">佐治亚</option>
                        <option value="HI">夏威夷</option>
                        <option value="ID">爱达荷</option>
                        <option value="IL">伊利诺伊</option>
                        <option value="IN">印地安那</option>
                        <option value="IA">爱荷华</option>
                        <option value="KS">堪萨斯</option>
                        <option value="KY">肯塔基</option>
                        <option value="LA">路易斯安那</option>
                        <option value="ME">缅因</option>
                        <option value="MB">马尼托巴</option>
                        <option value="MD">马里兰</option>
                        <option value="MA">马萨诸塞</option>
                        <option value="MI">密歇根</option>
                        <option value="MN">明尼苏达</option>
                        <option value="MS">密西西比</option>
                        <option value="MO">密苏里</option>
                        <option value="MT">蒙大拿</option>
                        <option value="NE">内布拉斯加</option>
                        <option value="NV">内华达</option>
                        <option value="NB">新不伦瑞克</option>
                        <option value="NH">新罕布什尔</option>
                        <option value="NJ">新泽西</option>
                        <option value="NM">新墨西哥</option>
                        <option value="NY">纽约</option>
                        <option value="NL">纽芬兰-拉布拉多</option>
                        <option value="NC">北卡罗来纳</option>
                        <option value="ND">北达科他</option>
                        <option value="NT">西北地区</option>
                        <option value="NS">新斯科舍</option>
                        <option value="NU">努勒维特</option>
                        <option value="OH">俄亥俄</option>
                        <option value="OK">俄克拉何马</option>
                        <option value="ON">安大略</option>
                        <option value="OR">俄勒冈</option>
                        <option value="PA">宾夕法尼亚</option>
                        <option value="PE">爱德华王子岛</option>
                        <option value="PR">波多黎各</option>
                        <option value="QC">魁北克</option>
                        <option value="RI">罗德岛</option>
                        <option value="SK">萨斯喀彻温</option>
                        <option value="SC">南卡罗来纳</option>
                        <option value="SD">南达科他</option>
                        <option value="TN">田纳西</option>
                        <option value="TX">得克萨斯</option>
                        <option value="UT">犹他</option>
                        <option value="VT">佛蒙特</option>
                        <option value="VA">弗吉尼亚</option>
                        <option value="WA">华盛顿</option>
                        <option value="DC">华盛顿特区</option>
                        <option value="WV">西弗吉尼亚</option>
                        <option value="WI">威斯康星</option>
                        <option value="WY">怀俄明</option>
                        <option value="YT">育空</option>
                      </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q14_zipcode" placeholder="Zip Code" aria-label="Zip code" required >
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q5_phone" placeholder="Daytime Phone" aria-label="Daytime Phone" required >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <input type="email" class="form-control" name="q4_email" placeholder="Email" aria-label="Type your email" required >
      </div>
    </div>

    <h4>婚礼详细信息</h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q15_bride" placeholder="Name of Bride" aria-label="Name of Bride">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q16_groom" placeholder="Name of Groom" aria-label="Name of Groom">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q17_wedding-date" id="arrival_date" placeholder="Wedding Date" aria-label="Select wedding date">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q18_alternative-wedding-date" id="departure_date" placeholder="Alternative Wedding Date" aria-label="Select alternative wedding date">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q19_guests" placeholder="Number of Guests" aria-label="Type number of guests">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="q20_guest-rooms" placeholder="Guest Rooms" aria-label="Type number of guest rooms">
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="q7_wedding-requirement" placeholder="Wedding Requirement" aria-label="Wedding Requirement"></textarea>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="q21_budget" placeholder="Estimated Budget" aria-label="Type Estimated Budget">
    </div>
    <div class="form-group">
      首选联系人
      <div class="form-check form-check-inline ml-3">
        <input class="form-check-input" value="Cell Phone" type="checkbox" name="q22_preferred-contact[]" id="cell_phone" aria-label="Cell phone">
        <label class="form-check-label" for="cell_phone">
          手机
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" value="Email" type="checkbox" name="q22_preferred-contact[]" id="email" aria-label="Email">
        <label class="form-check-label" for="email">
          电子邮件
        </label>
      </div>
    </div>
    <div class="form-group">
      最佳联系时间
      <div class="form-check form-check-inline ml-3">
        <input class="form-check-input" value="Morning" type="checkbox" name="q23_best-time[]" id="morning" aria-label="Morning">
        <label class="form-check-label" for="morning">
          上午
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" value="Afterenoon" type="checkbox" name="q23_best-time[]" id="afterenoon" aria-label="Afterenoon">
        <label class="form-check-label" for="afterenoon">
        下午
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" value="Evening" type="checkbox" name="q23_best-time[]" id="evening" aria-label="Evening">
        <label class="form-check-label" for="evening">
          晚上
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" value="Yes" type="checkbox" name="q8_newsletter[]" id="future_emails" aria-label="Select checkbox to include in future Emails">
        <label class="form-check-label" for="future_emails">
          请将来向我发送电子邮件
        </label>
      </div>
    </div>
    <button type="submit" class="primary-btn" aria-label="Submit form">提交</button>
  </form>
</section>
